/* ハンバーガーメニューとフォントの件は後回し！ */

body {
    color: #FFFFFF;
    background-color: #1E1E1E;
}

.header {
    font-size: 85px;
    text-align: center;
    margin: 100px;
}

.wrapper_1, .wrapper_2, .wrapper_3 {
    display: flex;
}

.img_1 {
    width: 100%;
}

.img_2 {
    width: 85%;
}

.img_3 {
    width: 115%;
}

img {
    width: 100%;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p {
    text-align: center;
    font-size: 32px;
}

.text_1 {
    padding-left: 25px;
    padding-right: 25px;
}

.text_2{
    padding-left: 25px;
    padding-right: 25px;
}

.text_3 {
    padding-left: 30px;
    padding-right: 30px;
}

.text_4 {
    padding-left: 170px;
    padding-right: 170px;
    padding-bottom: 15px;
}