@charset "UTF-8";

body {
    color: #FFFFFF;
    background-color: #1E1E1E;
}

main {
    width: auto;
    margin: 0 auto;
    text-align: center;
}

.about-container {
    padding: 40px 20px 0px;
}

.about_header {
    font-size: 85px;
    font-weight: 400;
    font-family: 'Alegreya', serif;
    margin: 100px;
}

.case__item {
    display: flex;
}

.case__item__img {
    width: 100%;
}

.case__item:nth-child(even) {
    flex-direction: row-reverse;
}

.case__item__text,
.case__item__img {
    width: 50%;
}

.case__item__text {
    font-size: 1.6rem;
    margin: auto 0px;
}

.text {
    font-family: 'Noto Serif JP', serif;
}

.text_1 {
    padding: 0 15px;
}

.text_2 {
    padding: 0 20px;
}

.text_3 {
    padding: 0 30px;
}

.text_4 {
    font-size: 30px;
    padding: 50px 170px 0px;
}

@media screen and (max-width: 1080px) {
    .about_header {
        font-size: 65px;
    }

    .case__item:nth-child(even) {
        flex-direction: column-reverse;
    }

    .case__item:nth-child(odd) {
        flex-direction: column-reverse;
    }

    .case__item__text,
    .case__item__img {
        width: 100%;
        height: 450px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .case__item__text {
        height: 300px;
    }

    .text_1,
    .text_2,
    .text_3,
    .text_4 {
        padding: 30px 30px;
    }

    .text_4 {
        font-size: 25px;
        padding: 0 20px 0;
    }
}

@media screen and (max-width: 550px) {

    .about_header {
        font-size: 28px;
        margin: 7px;
        margin-bottom: 50px;
    }


    .case__item__text,
    .case__item__img {
        width: 100%;
        height: 300px;
    }

    .case__item__text,
    .text_4 {
        font-size: 20px;
    }
}