
/*
ファイル説明
- 全体で使用しているスタイル、共通で使用しているコンポーネントのスタイルが定義されている。

読み込み対象
- すべてのHTML

詳細
- サイト全体共通で使用するスタイル
    - 余白の初期化、リスト・アンカーのデフォルトスタイル削除、
    - 全体のフォントサイズ、フォントに関する設定、背景色の設定
    - 全体で共通化しているクラス
        - image 画像の幅サイズを親要素に合わせる
- サイト全体で使用しているコンポーネント
    - ヘッダー（ハンバーガーメニュー）
    - フッター

*/

/*

サイト全体共通で使用するスタイル

*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html {
    font-size: 16px;
    background-color: black;
    font-family: 'Noto Serif JP', serif;
}

.heading {
    font-family: 'Alegreya', serif;
    font-weight: 400;
}

.text {
    font-family: 'Noto Serif JP', serif;
    color: #FFFFFF;
}

.image {
    width: 100%;
}


/*menuから引用してくる*/
a:link {
    text-decoration:none;
    color: #ffffff;
}

a:visited {
    text-decoration:none;
    color:#FFFFFF;
}

a:active {
    text-decoration:none;
    color:#0033cc;
}

a:hover {
    text-decoration:underline;
    color: #D9D9D9;
}



/*
    サイト全体で使用しているコンポーネント
*/


/*
    ハンバーガーメニュー
*/

.h-humbergar {
    width: 65px;
    height: 50px;
    position: relative;
    cursor: pointer;
    z-index: 100;
}

.h-humbergar span {
    display: inline-block;
    transition: all .4s;
    position: absolute;
    height: 4px;
    background: #fff;
    width: 100%;
    display: flex;
    justify-content: center;
}

.h-humbergar span:nth-of-type(1) {
    top: 0px; 
}
  
.h-humbergar span:nth-of-type(2) {
    top: 15px;
  }
  
.h-humbergar span:nth-of-type(3) {
    top: 30px;
}

/*   ハンバーガーメニューオープン時   */

.h-float-area.active h1 {
    opacity: 0;
}

.h-humbergar.active span:nth-of-type(1) {
    top: 10px;
    transform: rotate(-45deg);
}

.h-humbergar.active span:nth-of-type(2) {
    opacity: 0;
}

.h-humbergar.active span:nth-of-type(3) {
    top: 10px;
    transform: rotate(45deg);
}

/*
    ナビゲーションメニュー
*/

.h-nav-area {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 90;
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    transition: 1s;
    padding: 0 10px 0 30px;
    transform: translateX(100%);
    opacity: 0;
}

.h-nav-area.active {
    transform: translateX(0);
    opacity: 1;
}

.mask {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 80;
    width: 100%;
    height: 100vh;
    background-color: #1E1E1E;
    transition: $transition-duration;
    transform: translateX(100%);
    opacity: 0;
    cursor: pointer;
}

.mask.active {
    transform: translateX(0);
    opacity: 1;
}

.h-nav-heading {
    font-size: 6rem;
    color: #FFFFFF;
}

.h-global-menu-text {
    font-size: 2em;
}

.h-global-menu-text:hover {
    opacity: 0.7;
}

.global-nav {
    padding: 50px;
}

.global-nav > .nav-item {
    margin-bottom: 30px;
}

.h-nav-contact-area {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 50px;
}

.h-nav-contact-area > .anchor-box {
    display: block;
    width: 100px;
    cursor: pointer;
    text-decoration: none;
}

.anchor-box > img {
    width: 100%;
}


/*
  レスポンシブ対応
*/

/*
 タブレット
*/

/*
    ヘッダー
*/

@media screen and (max-width: 1080px) {

    .h-nav-heading {
        font-size: 4em;
        text-align: center;
    }

    .global-nav {
        text-align: center;
    }

    .h-nav-contact-area {
        justify-content: center;
    }

    .h-humbergar {
        margin-top: 10px;
    }
}


/*
  レスポンシブ対応
*/

/*
 スマホ
*/

@media screen and (max-width: 550px) {

    .h-nav-heading {
        font-size: 2.5em;
        margin-top: 50px;
    }

    .h-humbergar {
        margin-top: 15px;
        width: 45px;
    }

    .h-humbergar span:nth-of-type(2) {
        top: 12px;
    }

    .h-humbergar span:nth-of-type(3) {
        top: 24px;
    }
}


/*

    フッター

*/

.footer {
    margin-top: 100px;
}

.yellow-line {
    border: 10px solid #FFD700;
}

.red-line {
    border: 10px solid #FF0000;
}

.line-between {
    margin-bottom: 15px;
}

.copyright-text {
    text-align: center;
    font-size: 1em;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 25px;
}
