
.gallery-container {
    padding: 40px 20px 0px;
}

.gallery-heading {
    text-align: center;
    margin-top: 30px;
}

.gallery-form {
    text-align: center;
    margin: 20px 0 40px;
}

.gallery-pictures {
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 5px;
}

.picture-image {
    width: calc((100% - 15px) / 4 );
    height: 200px;

    // アスペクト比を揃える場合は以下コメントアウト外す
    /* object-fit: cover;
    object-position: 50% top; */
}

/*
    レスポンシブ対応
*/

@media screen and (max-width: 1080px) {

    .picture-image {
        width: calc((100% - 15px) / 3 );
    }
}


@media screen and (max-width: 550px) {

    .picture-image {
        width: calc((100% - 15px) / 2);
    }
}
