/*
    ファイル説明
        - ハンバーガーメニューの追加CSS
        - ハンバーガーアイコンを右寄せする
    
    読み込み対象
        - index.html以外のHTMLファイル

*/

.h-humbergar {
    margin: 0 0 0 auto;
}

.h-humbergar.active {
    position: fixed;
    right: 20px;
}